:root {
    --background-color: rgb(63, 59, 63);
    --purple-font: rgb(214, 75, 214);
    --light-grey-font: rgb(214, 214, 214);
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: var(--background-color);
}

header {
   text-align: center;
    padding: 5px;
}

    header h1{
            color: var(--purple-font);
    }

    header p {
        color: var(--light-grey-font);
    }

section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 50px 0px 50px 0px;
}

    .card-column {
        display: flex;
        flex-direction: column;
        border: dotted var(--light-grey-font) 2px;
        width: 500px;
        margin-bottom: 50px;
    }


        .card-column h2 {
            border: solid var(--light-grey-font) 1px;
            border-radius: var(--border-radius);
            color: var(--purple-font);
            margin-top: -2rem;
            margin-bottom: 50px;
            padding: 10px;
            background-color: var(--background-color);
        }

        .card-column p {
            color: var(--purple-font);
        }

        .code-block {
            background-color: var(--purple-font);
            width: 450px;
            border-radius: var(--border-radius);
        }

footer {
    text-align: center;
    color: var(--purple-font);
}